@import '../variables';


.footer{
  border-bottom: 0.2rem solid $color-secondary;
  padding: 1.875rem;
}

.logo{
  margin-left: 50px;
  margin-bottom: 30px;
  @media screen and (min-width:992px) {
    margin-left: 0;
  margin-bottom: 0;
    
  }
}



